.top-bar {
    display: grid;
    place-items: center;  
    text-align: center;
    height: 100vh
    
  }
  .topnav {
    background-color: #C9DBBA;
    overflow:hidden;
    font-family: Arial;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 90px; 
    line-height: 90px; 
    white-space: nowrap;
      
}
.topnav a{
    float: left;
    color: #333;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size: 16px;
    vertical-align:middle;
}


.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #F5CDA7;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color:#9297C4 ;
  }
  
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0d0d0;
    column-gap: 30px;
  }
  .form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
  }
  .form.signup{
    opacity: 0;
    pointer-events: none;
  }
  .forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
  }
  .forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
  }
  
  .form{
    margin-top: 30px;
  }
  .form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
  }
  .field input,
  .field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
  }
  .field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
  }
  .field input:focus{
    border-bottom-width: 2px;
  }
  
  .field button{
    color: #fff;
    background-color: #9297C4;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .form-link{
    text-align: center;
    margin-top: 10px;
  }
  .form-link span,
  .form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
  }
  .form a{
    color: #0171d3;
    text-decoration: none;
  }
  .line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
  }
  .line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
  }
  .eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

  
  